name: workflow.yml
on:
  push:
    branches:
      - main

jobs:
  push_to_ocr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build OCI Image
        run: ./gradlew bootBuildImage --imageName ghcr.io/${{ github.repository }}

      - name: Push to GitHub Container Registry
        run: docker push ghcr.io/${{ github.repository }}
